.event__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 5px 0;
}

.event__details {
	display: flex;
	flex-direction: column;
}

.event__date {
	font-size: 14px;
	color: #6c6c6c;
}